fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic-settings==2.8.1
gigachat
aiokafka==0.12.0
aioboto3==13.1.1
langchain-core
langgraph
langchain-gigachat
python-dotenv
pydantic
elasticsearch